.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px transparent black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: calc(110% + 1vw + 1vh);
  color: rgb(36, 36, 63);
  
}


.carousel-indicators {
  position: relative;
  right: 0;
  top: -30;
  bottom: -0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: top;
  padding-left: 0;
  margin-bottom: 00%;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  
  
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgb(114, 157, 212);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity 0.6s ease;
}

.card{
border-color:#253155; 
border-radius: 30px;

}

.btn-primary.enviar{
  border: transparent;
  background-image: linear-gradient(to right, #E8AF43 0%, #B95326 100%);
  padding-left: 40px; padding-right: 40px;
}

.btn-primary.enviar:active{
  border: transparent;
  
}
.table-borderless>thead>tr>th, .table-borderless>tbody>tr>th, .table-borderless>tfoot>tr>th, .table-borderless>thead>tr>td, .table-borderless>tbody>tr>td, .table-borderless>tfoot>tr>td{
  padding: 5px;
  vertical-align: middle;
}

.btn-primary.enviar:hover{
  border: transparent;
  background-image: linear-gradient(to right, #4151AA 0%, #122340 100%);

}
.btn-primary{
  border: transparent;
  background-image: linear-gradient(to right, #4151AA 0%, #122340 100%);

}

.btn-primary:focus {
  outline: none;
}

.btn-primary:hover{
  border: transparent;
  background-image: linear-gradient(to right, #E8AF43 0%, #B95326 100%);

}

.fa-check{
color: green;
}
.fa-close{
color:black;
}


.carousel-indicators .active{
  background-color:rgb(226, 81,0);
}


.carousel-control-prev-icon:after {
  content: '<';
  font-size: calc(100% + 1vw + 1vh);
  color: rgb(36, 36, 63);

}


.text-responsive{
    font-size: calc(100% + 1vw + 1vh);
    font-family:Segoe UI ;
    color:#253155 ;
    font-weight: bold;
}



.text-responsive2{
    font-size: calc(50% + 1vw + 1vh);
    font-family:Segoe UI;
    color: black;
    
}

.labeltext{
  color:rgb(224, 83, 41);
  font-family:Segoe UI;
  font-weight: 400;

}

.form-control{
color: #253155;
border-color:  #253155;
}

.card-title{
color:rgb(224, 83, 41);
font-family:'Segoe UI';
font-weight: bold;
}

.text-responsive3{
    font-family:Segoe UI;
    color:#253155 ;
}


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  h1 {font-size:1.5rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:2rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:2.5rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:3rem;} /*1rem = 16px*/    
}


#submit{
  background-color: rgb(0, 45, 87);
  color: white;
  border-color: rgb(0, 45, 87);
}
#submit:hover{

  background-color:rgb(226, 81,0);
  border-color: rgb(226, 81,0);
}

.texttab{
  color: black;
  
}


.text-info {
  color: #253155 !important;
  font-size:6vw;
  font-weight: 400;
}

 